<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.0/web3.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">

    <title>Document</title>
    <style>
        body {
            background-image: url("./1267685.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }
    </style>
</head>

<body>

    <nav class="navbar bg-info">
        <div class="container-fluid">
            <a class="navbar-brand">BuyToken</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="ToTable" href="/table">View_Data</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-primary" id="connect">Connect</button>
                <button class="btn btn-danger" id="disconnect">Disconnect</button>


            </div>
        </div>
    </nav>
    <br>

    <div class="container border border-3 border-primary   rounded p-3" id="ownable" style="    background-color: #0dcaf099;">
        <center>

            <h2>Set Price</h2>
            <div class="input-group" style="margin-left: 5rem; inline-size: fit-content;">


                <h3 class="d-flex p-2">


                    <span class="badge rounded-pill text-bg-primary d-flex ">
                        <h3>
                            
                            1 Token =
                            
                        </h3>
                        <input type="number" id="price" class="form-control " placeholder="Price" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <select class="form-select text-bg-secondary" id="unit"  aria-label="Default select example">
                            <option selected>Eth</option>
                            <option value="Wei">Wei</option>
                          </select>
                          
                        </span>
                </h3>


            </div>
            <button type="button" id="set" class="btn btn-primary">Set Price</button>
        </center>



    </div>



    <div class="d-flex justify-content-center mb-3">
        <div class="spinner-border text-warning" id="Wait" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <br>
    <br>


    <div class="container border border-3 border-info rounded p-4" style="background-color: #7fffd438;">
        <div class="border  mb-3  border-2 border-primary rounded p-4" style="background-color: #6495ed9e;">
            <center>

                <h5>Minted Tokens : <span id="tokeninPool"></span></h5>
                <div class="progress m-2">
                    <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10000">0%</div>
                </div>
            </center>
        </div>
        <div class="container sm  border border-3 border-primary rounded p-4" style="background-color: #6495ed9e;">
            <center>
                <div class="d-inline-flex p-2 ">
                    <div class="d-inline-flex p-2  border border-3 border-info rounded p-4">

                        <h4 for="customRange3" class="form-label">Aamount :</h4>
                        <span class="input-group-text" id="basic-addon3">5</span>
                    </div>
                    <br>
                    <div class="d-inline-flex p-2 border border-3 border-primary rounded p-4">
                        <h4 for="customRange3" class="form-label"> Price :</h4>
                        <span class="input-group-text" id="basic-addon4">_</span>
                    </div>
                </div>


                <div class="d-flex p-2">

                    <h6 class="m-2 mb-2">0</h6>


                    <input type="range" class="form-range" min="0" max="10" step="1" id="customRange3">
                    <h6 class="m-2">10</h6>
                </div>
            </center>
        </div>

        <br>
        <center>

            <button type="button" id="buy" class="btn btn-primary btn-lg">Buy Token</button>
        </center>

    </div>

    <!-- <script src="./js/index.js"></script> -->

    <script src="/assets/abi.js "></script>
    <script src="/index.js"></script>
</body>

</html>