<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="DataTables/datatables.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <style>
        body {
            background-image: url('./1267685.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        #container {
            border-radius: 25px;
            padding: 20px;
            background-color: rgba(0, 255, 255, 0.489);
        }
        
        #table_id {
            border-radius: 25px;
            background-color: rgba(255, 228, 196, 0.443);
        }
        
        #found {
            border-radius: 25px;
            background-color: rgba(245, 245, 220, 0.626);
        }
    </style>
    <title>DataTable</title>
</head>


<body>

    <div class="container" id="container">

        <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>_Id</th>
                    <th>Address</th>
                    <th>TimeStamp</th>
                    <th>operations</th>
                </tr>
            </thead>
        </table>



        <!-- <div id="found" class="modal card text-white bg-sucess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <civ class="modal-header">
                        <h5 class="modal-tital" style="color: #000;">Update</h5>
                        <button type="button" class="btn-close bg-danger" id="hide" aria-label="Close"></button>
                    </civ>


                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default ">ID :</span>
                        <input type="text" disabled class="form-control" placeholder="id" id="id">
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default ">Name</span>
                        <input type="text" class="form-control" placeholder="Name" id="iname">
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        <input type="text" class="form-control" placeholder="Email" id="iemail">
                    </div>


                    <div class="input-group">
                        <button class="btn btn-success bg-primary" id="updateBTN">Update</button>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
    <script src="/assets/abi.js "></script>
    <script src="/index.js"></script>
    <script src="./table.js"></script>

</body>`

</html>